# Helpful Functions in R and how to use them

The turtle data contains measurements (length, width, height) on male and female turtles of the same species.

In [1]:
# Loading the Turtle dataset
turtles <- read.csv("Data/turtles.csv")
# This loads the data as a dataframe

In [2]:
# To see all the column names of the turtle dataframe
colnames(turtles)

[1] "Length" "Width"  "Height" "Gender"

The following code allows you to subset a dataframe and return all the rows of a data frame
that are a specified value. It is the equivalent of writing
```SQL
SELECT *
FROM turtles
WHERE Gender = 'male';
```

In [4]:
turtles[turtles$Gender == 'male',]

   Length Width Height Gender
25  93     74   37     male
26  94     78   35     male
27  96     80   35     male
28 101     84   39     male
29 102     85   38     male
30 103     81   37     male
31 104     83   39     male
32 106     83   39     male
33 107     82   38     male
34 112     89   40     male
35 113     88   40     male
36 114     86   40     male
37 116     90   43     male
38 117     90   41     male
39 117     91   41     male
40 119     93   41     male
41 120     89   40     male
42 120     93   44     male
43 121     95   42     male
44 125     93   45     male
45 127     96   45     male
46 128     95   45     male
47 131     95   46     male
48 135    106   47     male

Then if you wanted to perform the same query as above but limit it to the first three columns
you could enter the following.
```SQL
SELECT Length,
       Width,
       Height
FROM turtles
WHERE Gender = 'male';
```

In [5]:
turtles[turtles$Gender == 'male', 1:3]

   Length Width Height
25  93     74   37
26  94     78   35
27  96     80   35
28 101     84   39
29 102     85   38
30 103     81   37
31 104     83   39
32 106     83   39
33 107     82   38
34 112     89   40
35 113     88   40
36 114     86   40
37 116     90   43
38 117     90   41
39 117     91   41
40 119     93   41
41 120     89   40
42 120     93   44
43 121     95   42
44 125     93   45
45 127     96   45
46 128     95   45
47 131     95   46
48 135    106   47